.searchHeader {
	max-width: 600px;
	padding:10px;
	margin:50px auto 20px;
}

.lfScoreTable {
	table-layout: fixed;
}
	.lfScoreTable tr {
		padding:15px 0px;
	}
	.lfScoreTable td {
		padding: 0 10px;
	}
	.lfScoreTable thead td {
		text-align: center;
		padding:0px 10px;
		font-weight: bold;
	}
	.lfScoreTable thead td:nth-child(2n) {
		background-color: #D5D6D9;
	}
	.lfScoreTable tbody td:nth-child(4n+2),
	.lfScoreTable tbody td:nth-child(4n+3) {
		background-color: #D5D6D9;
	}