.tournamentListItem {
	margin: 5px;
}
	.tournamentListItem span,.tournamentListItem button {
		margin-right:5px;
		display: inline-block;
		vertical-align: middle;
	}
	.tournamentListItem :first-child {
		width:200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

/* D3 BRACKET STYLES */
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.match {
	display: inline-block;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
	.match > .bracketLabel {
		padding: 5px;
		height:30px;
	}
	.match > .bracketLabel:first-child {
		border-bottom: 1px solid #ccc;
	}
.match:before {
	content: '';
	position: absolute;
	border: #e1e1e1 solid 4px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: top, right, bottom, left;
	transition-property: top, right, bottom, left;
}
.match:hover:before, .match:focus:before, .match:active:before {
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
}

.match.done:before {
	border: #888888 solid 4px;
}

.match.inprogress:before {
	border: #3c993d solid 4px;
}